.navbar
  %h1 Blogzilla
  %h3= link_to "All Articles", root_url
  %h3= link_to "New Article", new_article_url
  %br
  %h5
    %span{class: "glyphicon glyphicon-arrow-left"}
    = link_to "harishsr", "http://www.harishsr.com"