/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// VARIABLES
  $background: white;
  $form-bg: lighten($brand-primary, 45%);
  $link-hover: tomato;

// MAIN
  body {
    margin: 0;
    padding: 5px 20px;
    background: $background;
  }

  p {
    font-size: 1em;
    padding-left: 25px;
  }

// NAVBAR
  .navbar {
    padding: 0px;
    margin: 0;

    h1 {
      font-size: 3em;
      padding-bottom: 20px;
      text-transform: uppercase;
      // text-shadow: 2px 0 5px black;
      color: $brand-primary;
    }

    h3 {
      font-size: 1.8em;
      text-transform: capitalize;
    }

    a {
      color: default;
      border-left: 3px solid $background;
      padding-left: 7px;
      &:hover {
        color: $link-hover;
        text-decoration: none;
        border-left: 3px solid;
      }
    }
  }

// FOOTER

  .footer {
    font-family: courier;
    font-size: 0.8em;
  }

// SHOW & INDEX

  .time {
    font-weight: none;
    font-family: courier;
    color: lightgray;
  }
  a {
    color: black;
    &:hover {
      text-decoration: none;
      color: $link-hover;
    }
  }

// FORMS

  label {
    text-transform: uppercase;
    padding-top: 10px;
    margin-left: -10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 100%;
    background: $form-bg;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.3em;
    padding: 10px;
  }

  input[type="submit"] {
    border: 1px solid black;
    border-radius: 5px;
    background: $brand-primary;
    width: 100%;
    font-size: 2em;
    color: white;

    &:hover {
      background: $link-hover;
    }
  }

// DEVISE

  .alert,
  .notice {
    width: 100%;
    padding: 15px 30px;
    margin: 5px;
    border-radius: 5px;
  }
  .alert {
    background: tomato;
    color: white;
  }
  .notice {
    background: lightgreen;
  }